<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002021069486-u724eueumfg5hirc5psekais9nju76if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002021069486-u724eueumfg5hirc5psekais9nju76if</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002021069486-46gbk0d9gofij99fb19qhmk5riet7ndr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ11mplsNbk4ZmQ-PpKBM_z-fu5SppZlA</string>
	<key>GCM_SENDER_ID</key>
	<string>1002021069486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greatwayfoundation.wow</string>
	<key>PROJECT_ID</key>
	<string>wowapp-97505</string>
	<key>STORAGE_BUCKET</key>
	<string>wowapp-97505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002021069486:ios:8c60d961b5cab6f6c2833f</string>
</dict>
</plist>