<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534615827485-o7rng5iegn70n8cb9s62hbplvef4vm3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534615827485-o7rng5iegn70n8cb9s62hbplvef4vm3h</string>
	<key>API_KEY</key>
	<string>AIzaSyA5hNqyYvRq9YPOjcs2mW7ZcihaiVIgU8o</string>
	<key>GCM_SENDER_ID</key>
	<string>534615827485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greatwayfoundation.wow</string>
	<key>PROJECT_ID</key>
	<string>wowapp-c2867</string>
	<key>STORAGE_BUCKET</key>
	<string>wowapp-c2867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534615827485:ios:3d40534b11f2befbf412f4</string>
</dict>
</plist>